<h1>Patients</h1>

<button
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  (click)="openDialog(null)"
>
  <mat-icon>add</mat-icon>
</button>

<div *ngFor="let patient of patients">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a routerLink="/detail/{{ patient._id }}">
          {{ patient.firstName }} {{ patient.lastName }}
        </a>
      </mat-card-title>
      <mat-card-subtitle
        >{{ patient.age }} ans - {{ patient.sex }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="openDialog(patient)" mat-button>
        Modifier patient <mat-icon>edit</mat-icon>
      </button>
      <button color="warn" (click)="deletePatient(patient)" mat-button>
        Supprimer patient <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!patients || patients.length === 0">
  <h1>Aucun patient</h1>
</div>